/* NOCHE */

.noche .mensaje-content, .noche .colors{
    background-color: #164c7e;
    color: whitesmoke;
}

.noche .mensaje-time{
    background-color: #164c7e !important;
    color: rgb(177, 177, 177);
}

.noche .reciver-content::before{
    border-color: transparent transparent #164c7e transparent;
}

.noche .sender-content::after{
    border-color: transparent transparent #164c7e transparent;
}

/* ROSA */

.rosa .mensaje-content,.rosa .colors, #color_button{
    background-color:  #ff5d60;
    color: #111;
}

.rosa .mensaje-time{
    background-color: #ff5d60 !important;
    color: #333;
}

.rosa .reciver-content::before{
    border-color: transparent transparent #ff5d60 transparent;
}

.rosa .sender-content::after{
    border-color: transparent transparent  #ff5d60 transparent;
}

/* ROJO */

.rojo .mensaje-content,.rojo .colors{
    background-color:  #a8071a;
    color: whitesmoke;
}

.rojo .mensaje-time{
    background-color: #a8071a !important;
    color: rgb(177, 177, 177);
}

.rojo .reciver-content::before{
    border-color: transparent transparent #a8071a transparent;
}

.rojo .sender-content::after{
    border-color: transparent transparent  #a8071a transparent;
}

/* VERDE */

.verde .mensaje-content,.verde .colors{
    background-color:  #56d13d;
    color: #111;
}

.verde .mensaje-time{
    background-color: #56d13d !important;
    color: #333;
}

.verde .reciver-content::before{
    border-color: transparent transparent #56d13d transparent;
}

.verde .sender-content::after{
    border-color: transparent transparent  #56d13d transparent;
}

/* LIMA */
.lima .mensaje-content,.lima .colors{
    background-color:  #a7cf2d;
    color: #111;
}

.lima .mensaje-time{
    background-color: #a7cf2d !important;
    color: #333;
}

.lima .reciver-content::before{
    border-color: transparent transparent #a7cf2d transparent;
}

.lima .sender-content::after{
    border-color: transparent transparent  #a7cf2d transparent;
}

/* NEGRO */

.negro .mensaje-content,.negro .colors{
    background-color:  #000;
    color: whitesmoke;
}

.negro .mensaje-time{
    background-color: #000 !important;
    color: rgb(177, 177, 177);
}

.negro .reciver-content::before{
    border-color: transparent transparent #000 transparent;
}

.negro .sender-content::after{
    border-color: transparent transparent  #000 transparent;
}

/* NARANJA */

.naranja .mensaje-content,.naranja .colors{
    background-color: #fa8c16;
    color: #111;
}

.naranja .mensaje-time{
    background-color: #fa8c16 !important;
    color: #333;
}

.naranja .reciver-content::before{
    border-color: transparent transparent #fa8c16 transparent;
}

.naranja .sender-content::after{
    border-color: transparent transparent #fa8c16 transparent;
}

/* LAVA */

.lava .mensaje-content,.lava .colors{
    background-color: #fa541c;
    color: #111;
}

.lava .mensaje-time{
    background-color: #fa541c !important;
    color: #333;
}

.lava .reciver-content::before{
    border-color: transparent transparent #fa541c transparent;
}

.lava .sender-content::after{
    border-color: transparent transparent #fa541c transparent;
}

/* CELESTE */

.celeste .mensaje-content,.celeste .colors{
    background-color: #91d5ff;
    color: #111;
}

.celeste .mensaje-time{
    background-color: #91d5ff !important;
    color: #333;
}

.celeste .reciver-content::before{
    border-color: transparent transparent#91d5ff transparent;
}

.celeste .sender-content::after{
    border-color: transparent transparent #91d5ff transparent;
}

/* AZUL */

.azul .mensaje-content,.azul .colors{
    background-color: #096dd9;
    color: #111;
}

.azul .mensaje-time{
    background-color: #096dd9 !important;
    color: #333;
}

.azul .reciver-content::before{
    border-color: transparent transparent #096dd9 transparent;
}

.azul .sender-content::after{
    border-color: transparent transparent #096dd9 transparent;
}

/* MENTA */

.menta .mensaje-content,.menta .colors{
    background-color: #52ab8a;
    color: #111;
}

.menta .mensaje-time{
    background-color: #52ab8a !important;
    color: #333;
}

.menta .reciver-content::before{
    border-color: transparent transparent #52ab8a transparent;
}

.menta .sender-content::after{
    border-color: transparent transparent #52ab8a transparent;
}