@font-face{
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.ttf');
    font-weight: 500;
}
@font-face{
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
    font-weight: 400;
}
@font-face{
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.ttf');
    font-weight: 300;
}

@font-face{
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Thin.ttf');
    font-weight: 200;
}

body{
    margin: 0;
    padding: 0;
    font-size: 16pt;
    height: 100vh;
    width: 100vw;
    font-family: Raleway;
    font-weight: 400;
    color: var(--text);
    transition: ease 200ms;
}

.mentaLight{
    --primary: #b37feb;
    --primaryDark: #a272d6;
    --accent: #13c2c2;
    --accentDark: #18b3b3;
    --text: #111;
}

.mentaDark{
    --primary: #9e1068;
    --primaryDark: #7e223e;
    --accent: #006d75;
    --accentDark: #015e64;
    --text: #fff;
}

#statusBar{
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    margin:0;
    padding: 0;
    color: var(--text);
    height: 2rem;
    -webkit-app-region: drag;
}

.bar_button{
    float: left;
    /* padding: 0.25rem 1rem; */
    height: 100%;
    width: 33%;
    text-align: center;
}

.bar_button:hover{
    cursor: default;
    background-color: var(--primaryDark);
}

#title_bar{
    float: left;
    width: 30%;
    height: 100%;
    line-height: 2rem;
    padding: 0 0 0 1rem;
}

.buttons_bar{
    -webkit-app-region: no-drag;
    background-color: var(--primary);
    padding: 0;
    float: right;
    height: 100%;
    line-height: 2rem;
    width: 8rem;
}

/* .button{
    float: left;
    height: 100%;
    width: 100%;
} */

#close:hover{
    background-color: var(--accentDark);
}

.content{
    height: 100%;
    width: 100%;
}

.screen{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, var(--primary) 0%, var(--accent) 100%);
    
}

.container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 50%;
    max-width: 30rem;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

input{
    -webkit-appearance: none;
    font-size: 1rem;
}

.inputText{
    margin: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--text);
    font-weight: 200;
}
.inputText::placeholder{
    color: #333333;
}
.inputText:invalid{
    color: var(--primary);
}

#code_select{
    width: 7rem;
}

.container h1{
    padding: 0;
    margin: 0;
    font-size: 5rem;
    text-align: center;
    color: var(--primaryDark);
}

.button{
    font-size: 1.1rem;
    appearance: none;
    border: none;
    padding: 5px 10px;
    background-color: var(--primary);
    border-radius: 1rem;
    text-align: center;
    cursor: default;
    margin: 0.5rem 3rem;
}

.mini{
    margin: 5px 1rem;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 0.8rem;
    width: fit-content;
}

.button:hover{
    background-color: var(--primaryDark);
}

.button:active{
    background-color: var(--accentDark);
}

.button span{
    font-family: Raleway;
    font-weight: 500;
}

.send{
    padding: 10px 10px;
    border-radius: 2rem;
    margin: 0.5rem;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    padding-top: 2rem;
    height: -webkit-fill-available;
}

.collaps_content{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}
.collapsible{
    position: relative;
}

.collapsible::after{
    /* &#710; */
    color: var(--text);
    content: '\02C7'; /* Unicode character for "plus" sign (+) */
    font-size: 53pt;
    float: right;
    margin-left: 5px;
    padding-top: 5px;
    line-height: 23pt;
}

.active::after {
    content: '\02C6';
}

option{
    background-color: var(--accent);
}